[submodule "Dependencies/vma-hpp"]
	path = Vendor/vma-hpp
	url = git@github.com:YaaZ/VulkanMemoryAllocator-Hpp
[submodule "Dependencies/imgui"]
	path = Vendor/imgui
	url = git@github.com:ocornut/imgui
[submodule "Vendor/nlohmann"]
	path = Vendor/nlohmann
	url = https://github.com/nlohmann/json
[submodule "Vendor/lz4"]
	path = Vendor/lz4
	url = git@github.com:lz4/lz4
[submodule "Vendor/spirv-reflect"]
	path = Vendor/spirv-reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect
[submodule "Vendor/tinygltf"]
	path = Vendor/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Vendor/entt"]
	path = Vendor/entt
	url = git@github.com:skypjack/entt.git
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = git@github.com:nothings/stb
[submodule "Vendor/fmt"]
	path = Vendor/fmt
	url = git@github.com:fmtlib/fmt
